.DS_Store
r/.cache/
r/compile_commands.json

#c related
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#r source code related
r/Makeconf
r/Makefile
r/Makefrag.cc
r/Makefrag.cc_lo
r/Makefrag.cxx
r/Makefrag.m
r/bin/
r/config.log
r/config.status
r/doc/Makefile
r/doc/NEWS.2.rds
r/doc/NEWS.3.rds
r/doc/NEWS.rds
r/doc/R.1
r/doc/Rscript.1
r/doc/html/Makefile
r/doc/html/index.html
r/doc/html/packages.html
r/doc/manual/Makefile
r/doc/manual/stamp-images-html
r/doc/manual/version.texi
r/etc/Makeconf
r/etc/Makefile
r/etc/Renviron
r/etc/javaconf
r/etc/ldpaths
r/include/
r/library/
r/libtool
r/m4/Makefile
r/po/Makefile
r/share/Makefile
r/src/Makefile
r/src/appl/Makedeps
r/src/appl/Makefile
r/src/extra/Makefile
r/src/extra/blas/Makefile
r/src/extra/intl/Makefile
r/src/extra/tre/Makedeps
r/src/extra/tre/Makefile
r/src/extra/tzone/Makefile
r/src/extra/xdr/Makefile
r/src/include/Makefile
r/src/include/R.ts
r/src/include/R_ext/Altrep.ts
r/src/include/R_ext/Applic.ts
r/src/include/R_ext/Arith.ts
r/src/include/R_ext/BLAS.ts
r/src/include/R_ext/Boolean.ts
r/src/include/R_ext/Callbacks.ts
r/src/include/R_ext/Complex.ts
r/src/include/R_ext/Connections.ts
r/src/include/R_ext/Constants.ts
r/src/include/R_ext/Error.ts
r/src/include/R_ext/GetX11Image.ts
r/src/include/R_ext/GraphicsDevice.ts
r/src/include/R_ext/GraphicsEngine.ts
r/src/include/R_ext/Itermacros.ts
r/src/include/R_ext/Lapack.ts
r/src/include/R_ext/Linpack.ts
r/src/include/R_ext/Makefile
r/src/include/R_ext/MathThreads.ts
r/src/include/R_ext/Memory.ts
r/src/include/R_ext/Parse.ts
r/src/include/R_ext/Print.ts
r/src/include/R_ext/PrtUtil.ts
r/src/include/R_ext/QuartzDevice.ts
r/src/include/R_ext/RS.ts
r/src/include/R_ext/RStartup.ts
r/src/include/R_ext/Rallocators.ts
r/src/include/R_ext/Random.ts
r/src/include/R_ext/Rdynload.ts
r/src/include/R_ext/Riconv.ts
r/src/include/R_ext/Utils.ts
r/src/include/R_ext/Visibility.ts
r/src/include/R_ext/eventloop.ts
r/src/include/R_ext/libextern.ts
r/src/include/R_ext/stamp-R
r/src/include/R_ext/stats_package.ts
r/src/include/R_ext/stats_stubs.ts
r/src/include/Rconfig.h
r/src/include/Rconfig.tsa
r/src/include/Rdefines.ts
r/src/include/Rembedded.ts
r/src/include/Rinterface.ts
r/src/include/Rinternals.ts
r/src/include/Rmath.h
r/src/include/Rmath.h0
r/src/include/Rmath.tsa
r/src/include/Rversion.h
r/src/include/Rversion.tsa
r/src/include/config.h
r/src/include/stamp-R
r/src/include/stamp-h
r/src/library/Makefile
r/src/library/Recommended/KernSmooth.ts
r/src/library/Recommended/MASS.ts
r/src/library/Recommended/Makefile
r/src/library/Recommended/Matrix.ts
r/src/library/Recommended/boot.ts
r/src/library/Recommended/class.ts
r/src/library/Recommended/cluster.ts
r/src/library/Recommended/codetools.ts
r/src/library/Recommended/foreign.ts
r/src/library/Recommended/lattice.ts
r/src/library/Recommended/mgcv.ts
r/src/library/Recommended/nlme.ts
r/src/library/Recommended/nnet.ts
r/src/library/Recommended/rpart.ts
r/src/library/Recommended/spatial.ts
r/src/library/Recommended/stamp-recommended
r/src/library/Recommended/survival.ts
r/src/library/base.inn
r/src/library/base/DESCRIPTION
r/src/library/base/Makefile
r/src/library/base/all.R
r/src/library/compiler.inn
r/src/library/compiler/DESCRIPTION
r/src/library/compiler/Makefile
r/src/library/compiler/all.R
r/src/library/datasets.inn
r/src/library/datasets/DESCRIPTION
r/src/library/datasets/Makefile
r/src/library/grDevices.inn
r/src/library/grDevices/DESCRIPTION
r/src/library/grDevices/Makefile
r/src/library/grDevices/all.R
r/src/library/grDevices/src/Makedeps
r/src/library/grDevices/src/Makefile
r/src/library/grDevices/src/cairo/Makefile
r/src/library/graphics.inn
r/src/library/graphics/DESCRIPTION
r/src/library/graphics/Makefile
r/src/library/graphics/all.R
r/src/library/graphics/src/Makedeps
r/src/library/graphics/src/Makefile
r/src/library/grid.inn
r/src/library/grid/DESCRIPTION
r/src/library/grid/Makefile
r/src/library/grid/all.R
r/src/library/grid/src/Makedeps
r/src/library/grid/src/Makefile
r/src/library/methods.inn
r/src/library/methods/DESCRIPTION
r/src/library/methods/Makefile
r/src/library/methods/all.R
r/src/library/methods/src/Makedeps
r/src/library/methods/src/Makefile
r/src/library/parallel.inn
r/src/library/parallel/DESCRIPTION
r/src/library/parallel/Makefile
r/src/library/parallel/all.R
r/src/library/parallel/src/Makedeps
r/src/library/parallel/src/Makefile
r/src/library/profile/Makefile
r/src/library/splines.inn
r/src/library/splines/DESCRIPTION
r/src/library/splines/Makefile
r/src/library/splines/all.R
r/src/library/splines/src/Makedeps
r/src/library/splines/src/Makefile
r/src/library/stamp-docs
r/src/library/stats.inn
r/src/library/stats/DESCRIPTION
r/src/library/stats/Makefile
r/src/library/stats/all.R
r/src/library/stats/src/Makedeps
r/src/library/stats/src/Makefile
r/src/library/stats4.inn
r/src/library/stats4/DESCRIPTION
r/src/library/stats4/Makefile
r/src/library/stats4/all.R
r/src/library/tcltk.inn
r/src/library/tcltk/DESCRIPTION
r/src/library/tcltk/Makefile
r/src/library/tcltk/src/Makefile
r/src/library/tools.inn
r/src/library/tools/DESCRIPTION
r/src/library/tools/Makefile
r/src/library/tools/all.R
r/src/library/tools/src/Makedeps
r/src/library/tools/src/Makefile
r/src/library/translations/DESCRIPTION
r/src/library/translations/Makefile
r/src/library/utils.inn
r/src/library/utils/DESCRIPTION
r/src/library/utils/Makefile
r/src/library/utils/all.R
r/src/library/utils/src/Makedeps
r/src/library/utils/src/Makefile
r/src/main/Makedeps
r/src/main/Makefile
r/src/main/R.bin
r/src/modules/Makefile
r/src/modules/X11/Makedeps
r/src/modules/X11/Makefile
r/src/modules/internet/Makedeps
r/src/modules/internet/Makefile
r/src/modules/lapack/Makedeps
r/src/modules/lapack/Makefile
r/src/nmath/Makedeps
r/src/nmath/Makefile
r/src/nmath/standalone/Makefile
r/src/scripts/Makefile
r/src/scripts/R.fe
r/src/scripts/R.sh
r/src/scripts/Rcmd
r/src/scripts/javareconf
r/src/scripts/mkinstalldirs
r/src/scripts/pager
r/src/scripts/rtags
r/src/unix/Makedeps
r/src/unix/Makefile
r/src/unix/Rscript
r/stamp-java
r/tests/Embedding/Makefile
r/tests/Examples/Makefile
r/tests/Makefile
r/tools/Makefile
